
html {
	text-align: center;
	background: black;
	color: white;
	font-family: "Tahoma", "Geneva", serif;
}


#hero_grid_div {
	float: left;
	width: 55%;
	height: 80%;
	background: gray;
	border-radius: 10px;
}

#info_window {
	float: right;
	width: 40%;
	height: 100%;
	background: gray;
	border-radius: 10px;
}

#chart_canvas {
	float: right;
	width: 50%;
	height: 100%;
}

#info_window_text {
	float: left;
	width: 40%;
	height: 25%;
}

#info_window_img {
	float: right;
	width: 15%;
	height: 50%;	
}

#info_window_add_good {
	float: right;
	width: 15%;
	height: 50%;
}

#info_window_add_evil {
	float: right;
	width: 15%;
	height: 50%;
}

#comp_window {
	float: right;
	width: 40%;
	height: 100%;
	background: gray;
	border-radius: 10px;
}

.gORe_img {
	border-radius: 5px;
	float: center;
	width: 75px;
	height: 50px;
	
}

.hero_icon {
	border-radius: 10px;
}

#chart_canvas_comp {
	float: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 640px) {

	#hero_grid_div {
		float: left;
		width: 25%;
	}

	#chart_canvas {
		display: none;
	}

	#info_window_text {
		display: none;
	}

	#info_window_img {
		float: right;
		width: 15%;
		height: 50%;	
	}

	#info_window_add_good {
		float: right;
		width: 15%;
		height: 50%;
	}

	#info_window_add_evil {
		float: right;
		width: 15%;
		height: 50%;
	}

	#comp_window {
		float: right;
		width: 40%;
		height: 100%;
		background: gray;
		border-radius: 0px;
	}

	.gORe_img {
		display: none;
		
	}

	.hero_icon {
		border-radius: 0px;
	}

	#chart_canvas_comp {
		height: 50%;
		width: 50%;
	}

}