
html {
	text-align: center;
	background: black;
	color: white;
	font-family: "Tahoma", "Geneva", serif;
}


#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 1rem;
	height: 3rem;
	background: linear-gradient(to left,black,black,#644,black,black);
	animation: titlebounce 1s linear infinite;
}

.selecto {
	background: black;
	border: 1px solid #000;
	color: white;
	height: 32px;
	width: 250px;
	font-size: 12px;
	vertical-align: text-top;
	text-align:right;
	background-image:url(images/hand_of_midas.png);
	background-repeat:no-repeat;
	background-size: 25% 100%;
	padding: 1px 1px 1px 1px;
}

.flex-container {
	background: #222;
	display: flex;
	width: 40%;
	min-height: 500px;
	align-items: center;
	flex-direction: column;
}

#display_flex {
	float: right;
}

#input_flex {
	float: left;
}

.flex-item {
	flex-grow: 1;
}

.flex_hb_icon_box {
	height: 70px;
	width : 100px;
	border-radius: 10px;
	background: gray;
}

/*.flex_hb_icon_box:hover {
	padding-left: 125px;
}*/


.flex_hb_icon {
	margin-top: 13px;  /*13*/
	height: 50px;
	border-radius: 10px;
	background: lightgray;
}

/*.flex_hb_icon:hover {
	margin-top: 5px;
	height: 60px;

}*/

#image_chaser {
	position: absolute;
	top: 100px;
}

/*#comeon:hover {
	background: red;
}*/

/*#body {
	padding-top: 100px;
	padding-left: 125px;
	padding-right: 375px;
	font-size: 10px;
}*/

#myChart {
	/*float: right;
	padding-top: 100px;
	padding-right: 200px;*/
}


div.hero_select {
	/*text-align: left;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;*/
}
